.container {
    padding: 20px;
    text-align: center;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .recipeContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .card h2 {
    color: black; /* Set title text color to black */
  }
  
  .card p {
    color: black; /* Set description text color to black */
  }
  
  .button {
    background-color: #00cc99;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #00b386;
  }